#watch-video #watch-player, .mvp_player, #player.mvp_player, #watch7-player, #player #player-api, .channels-video-player {
	background: transparent !important;
	box-shadow: none !important;
	overflow: visible !important;
}

/* Hide Vimeo overlay and YouTube flash warning */
.r.bi .aa, #flash10-promo-div, #flash-upgrade, .yt-alert-player {
	display: none !important;
}