#watch-video #watch-player, .mvp_player, #player.mvp_player {
	background: transparent !important;
	border: none !important;
}

/* Hide youtube "Update Flash version" banner */
#flash10-promo-div {
	display: none !important;
}

/* Hide Vimeo overlay */
.q.f .ae {
	display: none !important;
}
