body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.youtube5player {
    position: relative;
	margin: 0 auto;
	background-color: #000;
}

.youtube5player.loading {
	background: #000 url(loading.gif) no-repeat center center;
}

.youtube5player div {
	cursor: default;
}

.youtube5player .youtube5use-original {
	position: absolute;
	opacity: 0;
	left: 10px;
	bottom: 35px;
	font: 12px Helvetica, sans-serif;
	cursor: pointer;
	color: #ccc;
	-webkit-transition: opacity 0.3s ease-in-out;
	z-index: 500;
}

.youtube5player .youtube5use-original:hover {
	color: #fff;
}

.youtube5player.loading .youtube5use-original, .youtube5player.youtube5overlayed .youtube5use-original, .youtube5player.error .youtube5use-original {
	opacity: 1;
}

.youtube5player .youtube5error {
	position: absolute;
	top: 40%;
	width: 100%;
	color: #bbb;
	background-color: #222;
	padding: 10px;
	text-align: center;
	font: 14px Helvetica, sans-serif;
}

.youtube5player .youtube5error a {
	color: #ddd;
}

.youtube5player video {
	display: block;
	margin: 0 auto;
}

.youtube5player .youtube5controls {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    height: 25px;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#0a0a0a));
    border-top: 1px solid #555;
}

.youtube5player .youtube5controls.youtube5pause, .youtube5player:hover .youtube5controls, .youtube5player.youtube5overlayed .youtube5controls {
	opacity: 0.8;
}

.youtube5player .youtube5play-pause {
	float: left;
	width: 25px;
	height: 25px;
	background: url(play.png) no-repeat 5px 4px;
}

.youtube5player .youtube5controls.youtube5play .youtube5play-pause {
	background: url(pause.png) no-repeat 5px 5px;
}

.youtube5player .youtube5time-elapsed, .youtube5player .youtube5time-remaining {
	width: 30px;
	height: 20px;
	float: left;
	font: 10px Helvetica, sans-serif;
	color: #e9e9e9;
	text-align: center;
	padding-top: 6px;
	margin-right: 3px;
	text-shadow: 0 2px 1px rgba(0,0,0,0.7);
}

.youtube5player .youtube5time-remaining {
	float: right;
}

.youtube5player .youtube5progress {
    position: relative;
    margin: 6px 88px 0 60px;
    background: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#4e4e4e));
    border: 1px solid #000;
    padding: 0;
    border-radius: 20px;
    height: 10px;
}

.youtube5player .youtube5loaded {
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#828282), to(#cbcbcb));
    border-radius: 20px;
    height: 10px;
    width: 10px;
}

.youtube5player .youtube5played {
    position: absolute;
    left: 0;
    top: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#008ff3), to(#0045f4));
    border-radius: 20px;
    height: 10px;
    width: 10px;
}

.youtube5player .youtube5position {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    margin: 0;
}

.youtube5player .youtube5position::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bdbdbd));
    border-radius: 20px;
    -webkit-box-shadow: 0 0 2px #000;
}

.youtube5player .youtube5volume {
	float: right;
	position: relative;
}

.youtube5player .youtube5volume-indicator {
	width: 25px;
	height: 25px;
	background: url(volume-high.png) no-repeat 6px 5px;
}

.youtube5player .youtube5volume.youtube5med .youtube5volume-indicator {
	background-image: url(volume-med.png);
}

.youtube5player .youtube5volume.youtube5low .youtube5volume-indicator {
	background-image: url(volume-low.png);
}

.youtube5player .youtube5volume.youtube5off .youtube5volume-indicator {
	background-image: url(volume-off.png);
}

.youtube5player .youtube5volume:hover .youtube5volume-popup {
	visibility: visible;
}

.youtube5player .youtube5volume-popup {
	left: 0;
	bottom: 0;
	visibility: hidden;
	position: absolute;
	background: -webkit-gradient(linear, left top, left bottom, from(#484848), to(#0a0a0a));
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #000;
}

.youtube5player .youtube5volume-max {
	width: 20px;
	height: 20px;
	background: url(volume-high.png) no-repeat 5px 4px;
}

.youtube5player .youtube5volume-mute {
	width: 20px;
	height: 20px;
	background: url(volume-off.png) no-repeat 9px 0;
}

.youtube5player .youtube5volume-slider {
	-webkit-appearance: slider-vertical;
	width: 20px;
	height: 100px;
}

.youtube5player .youtube5fullscreen {
	float: right;
	width: 25px;
	height: 25px;
	background: url(fullscreen.png) no-repeat 4px 3px;
}

.youtube5player .youtube5overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	font: 12px Helvetica, sans-serif;
	background-color: #000;
	opacity: 0;
	text-align: left;
	-webkit-transition: opacity 0.3s ease-in-out;
}

.youtube5player .youtube5overlay a {
	color: #fff;
	text-decoration: none;
	border: none;
}

.youtube5player .youtube5overlay a:hover {
	text-decoration: underline;
}

.youtube5player .youtube5title {
	margin: 10px 25px 5px 10px;
	font-size: 18px;
}

.youtube5player .youtube5author {
	margin: 5px 25px 10px 10px;
	font-size: 14px;
	color: #aaa;
}

.youtube5player .youtube5formats {
	float: right;
	padding: 0;
	margin-right: 15px;
	background-color: #222;
	text-align: center;
}

.youtube5player .youtube5from {
	background-color: #444;
	padding: 5px 10px;
}

.youtube5player .youtube5formats ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.youtube5player .youtube5formats li {
	display: block;
	margin: 10px;
	padding: 0;
}

.youtube5player .youtube5formats li a {
	color: #999;
	padding: 0 4px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
}

.youtube5player .youtube5formats li.youtube5current-format a {
	color: #fff;
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
}

.youtube5player .youtube5replay {
	visibility: hidden;
	position: absolute;
	right: 10px;
	bottom: 35px;
	font-size: 14px;
	cursor: pointer;
	color: #ccc;
}

.youtube5player .youtube5replay:hover {
	color: #fff;
}

.youtube5player.youtube5replay .youtube5replay {
	visibility: visible;
}

.youtube5player .youtube5close-overlay {
	position: absolute;
	top: 0px;
	right: 0px;
	color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 2px 6px;
	background: #666;
	font-size: 18px;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease-in-out;
}

.youtube5player .youtube5close-overlay:hover {
	opacity: 0.7;
}

.youtube5player.youtube5overlayed .youtube5overlay {
	opacity: 0.7;
}

.youtube5player .youtube5play-large {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	border: 1px solid #000;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.5);
	opacity: 0.9;
	background: url(play-large.png) no-repeat 20px center, -webkit-gradient(linear, left top, left bottom, from(#484848), to(#0a0a0a));
	-webkit-transition: opacity 0.3s ease-in-out;
}

.youtube5player .youtube5play-large:hover {
	opacity: 1;
}

.youtube5player .youtube5info {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
	border-radius: 40px;
	font: 12px Georgia, serif;
	font-style: italic;
	text-align: center;
	background-color: #ddd;
	color: #555;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
}

.youtube5player:hover .youtube5info {
	opacity: 0.6;
}

.youtube5player .youtube5info:hover {
	opacity: 0.8;
}

.youtube5player.youtube5overlayed .youtube5info {
	opacity: 0;
	visibility: hidden;
}
