<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>YouTube Options</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enableYouTube</string>
		<key>Title</key>
		<string>Enable for YouTube videos</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>youTubeAutoplay</string>
		<key>Title</key>
		<string>Autoplay videos on YouTube.com?</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>720p</string>
		<key>Key</key>
		<string>youTubeFormat</string>
		<key>Title</key>
		<string>Default YouTube Format</string>
		<key>Titles</key>
		<array>
			<string>1080p</string>
			<string>720p</string>
			<string>360p</string>
			<string>240p FLV</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>1080p</string>
			<string>720p</string>
			<string>360p</string>
			<string>240p FLV</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Vimeo Options</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enableVimeo</string>
		<key>Title</key>
		<string>Enable for Vimeo videos</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>HD</string>
		<key>Key</key>
		<string>vimeoFormat</string>
		<key>Title</key>
		<string>Default Vimeo Format</string>
		<key>Titles</key>
		<array>
			<string>HD</string>
			<string>SD</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>HD</string>
			<string>SD</string>
		</array>
	</dict>
	<dict>
		<key>Title</key>
		<string>Facebook Video Options</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enableFacebook</string>
		<key>Title</key>
		<string>Enable for Facebook videos</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>High</string>
		<key>Key</key>
		<string>facebookFormat</string>
		<key>Title</key>
		<string>Default Facebook Format</string>
		<key>Titles</key>
		<array>
			<string>High</string>
			<string>Low</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>High</string>
			<string>Low</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>volume</string>
	</dict>
</array>
</plist>
